<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/404.css">
    <title>Not Found</title>
</head>
<body>
    <div>
        <img src="/images/titles/404_msg.png" width="250" height="60">
        <a href="/login">
            <img src="/images/titles/404_click.png" width="250" height="60">
        </a>
        
    </div>
    
</body>
</html>