<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/add_movie.css" type="text/css">
</head>

<body>
    <form id="header1" name="header1" action="/admin/cart" method="get">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>    

    <form id="header2" name="header2" action="/logout" method="post">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form> 

    <div class="contenedor">
        <form action="/admin/movies" method="get">
            <input type="image" src="/images/icons/go_back.png" id="back" width="30" height="30"/>    
        </form>    

        <center>
            <img src="/images/titles/new_movie.png" width="329" height="113">        
        </center>     

        <form action="" method="POST">
            <article id=container1>
                <select id="titles" name="titles">
                    <option value="">Titles</option>
                </select><br>
                <input type="text" id="title" name="title"class="field left" placeholder="Title" readonly><br>
            </article>
    
            <article id=container2>
                <input type="text" id="year" name="year" class="field left" placeholder="Year" readonly><br>
                <input type="text" id="duration" name="duration" class="field left" placeholder="Duration" readonly><br>
                <input type="text" id="unit_price" name="unit_price" class="field left" placeholder="Unit price" readonly><br>
            </article>
    
            <br>
            <br>

            <article id=container3>
                <select id="titles" name="titles">
                    <option value="">Titles</option>
                </select><br>
                <input type="text" id="title" name="title"class="field left" placeholder="Title" readonly>
            </article>
    
            <article id=container4>
                <input type="text" id="year" name="year" class="field left" placeholder="Year" readonly><br>
                <input type="text" id="duration" name="duration" class="field left" placeholder="Duration" readonly><br>
                <input type="text" id="unit_price" name="unit_price" class="field left" placeholder="Unit price" readonly><br>
            </article>
        </form> 
    </div>
</body>
</html>