<!DOCTYPE html>
<html lang="es">
<head>
    <title>Add client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="add_client.css" type="text/css">
</head>

<body>
    <div class="contenedor">
        <img src="imagenes/new_client.png" width="224" height="113">        
        <form>
            <input type="text" id="id_card" placeholder="ID Card"><br>
            <input type="text" id="last_name" placeholder="Last name"><br>
            <input type="text" id="first_name" placeholder="First name"><br>
            <input type="text" id="phone" placeholder="Phone"><br>
            <input type="text" id="email" placeholder="Email"><br>
            <input type="text" id="address" placeholder="Address"><br>
            <button>Register</button> 
        </form> 
    </div>
</body>
</html>