<!DOCTYPE html>
<html lang="es">
<head>
    <title>New Movie</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/add_movie.css" type="text/css">
</head>

<body>
    <form>
        <form id="header1" name="header1" action="/admin/cart" method="get">
            <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
        </form>    
    
        <form id="header2" name="header2" action="/logout" method="post">
            <input type="image" src="/images/icons/exit.png" width="30" height="30" />
        </form>  

        <div class="contenedor">
            <form id="header2" name="header2" action="/admin/movies" method="get">
                <input type="image"id="back" src="/images/icons/go_back.png" width="24" height="24"> 
            </form>  
            
            <img src="/images/icons/new_movie.png" width="329" height="113"><br>        
    
            <article id=container1>
                <form>
                    <select id="titles">
                        <option value="">Titles</option>
                    </select><br>
                    <input type="text" id="title" class="field left" placeholder="Title" readonly><br>
                </form>
            </article>
    
            <article id=container2>
                <input type="text" id="year" class="field left" placeholder="Year" readonly><br>
                <input type="text" id="duration" class="field left" placeholder="Duration" readonly><br>
                <input type="text" id="unit_price" class="field left" placeholder="Unit price" readonly><br>
            </article>
    
            <br>
    
            <!--
            <article id=container3>
                <form>
                    <select id="oscars">
                        <option value="">Oscars</option>
                    </select><br>
                    <select id="nomination">
                        <option value="">Nomination</option>
                    </select><br>
                </form>
            </article>
    
            <article id=container4>
                <form>
                    <select id="oscars">
                        <option value="">Oscars</option>
                    </select><br>
                    <input type="text" id="title" class="field left" readonly><br>
                </form>
            </article>-->
        </div>
    </form>

</body>
</html>