<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/add_client.css" type="text/css">
    <style>
    .alert {
        padding: 20px;
        background-color: #3d9796;
        color: white;
        font-family: BalsamiqSansBold;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
    </style>
</head>

<body>
    <% if (locals.message) { %>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <h2><%= message %></h2>
    </div>
    <% } %>

    <center>
        <form id="header1" name="header1" action="/admin/cart" method="get">
            <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
        </form>    

        <form id="header2" name="header2" action="/movies/search" method="get">
            <input type="image" src="/images/icons/movie.png" width="30" height="30" />
        </form>

        <form id="header3" name="header3" action="/logout" method="post">
            <input type="image" src="/images/icons/exit.png" width="30" height="30" />
        </form>    
    </center>

    <div class="contenedor">
        <form action="/admin/customers" method="get">
            <input type="image" src="/images/icons/go_back.png" id="back" width="30" height="30"/>    
        </form>    

        <center>
            <img src="/images/titles/new_client.png" id="img" width="224" height="113">        
        </center>

        <form action="" method="post">
            <input type="text" id="id_card" placeholder="ID Card"><br>
            <input type="text" id="last_name" placeholder="Last name"><br>
            <input type="text" id="first_name" placeholder="First name"><br>
            <input type="text" id="phone" placeholder="Phone"><br>
            <input type="text" id="email" placeholder="Email"><br>
            <input type="text" id="address" placeholder="Address">
            <button type="submit">Register</button>    
        </form>
    </div>      
</body>
</html>