<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/cart_summary.css">
    <style>
    .alert {
        padding: 20px;
        background-color: #3d9796;
        color: white;
        font-family: BalsamiqSansBold;
        text-align: left;
        font-size: 10px;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
    </style>
    <title>Summary</title>
</head>
<body>
    <% if (locals.message) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <h2><%= message %></h2>
        </div>
    <% } %>

    <center>
        <form id="header1" name="header1" action="/admin/cart" method="get">
            <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
        </form>    

        <form id="header2" name="header2" action="/movies/search" method="get">
            <input type="image" src="/images/icons/movie.png" width="30" height="30" />
        </form>

        <form id="header3" name="header3" action="/logout" method="post">
            <input type="image" src="/images/icons/exit.png" width="30" height="30" />
        </form>    
    </center> 
                    
    <article id=mainContainer>
        <form action="/admin/home" method="get">
            <input type="image" src="/images/icons/home.png" id="home" name="home" width="30" height="30"/>
        </form>

        <center>
            <img src="/images/titles/cart_summary.png" width="339" height="120">
        </center>
        
        <article id="column1">
            <h3>Items</h3>
            
            <% for (let i = 1 ; i <= 10 ; i++) { %>
            <% if(locals.moviesTitle && locals.moviesTitle.length > (i-1) ){  %>
            <article id="first">
                <input type="text" id="item" name="item" readonly>
            </article>
            <article id="second">
                <form action="" method="get">
                <input type="image" src="/images/icons/eye.png" id="edit" name="edit" width="25" height="25"/>
                </form>
            </article>
            <article id="third">
                <form action="" method="post">
                    <input type="image" src="/images/icons/delete.png" id="delete" name="delete" width="25" height="25"/>
                </form>
            </article>
            <% } %>
            <% } %>


        </article>    
             
        <article id="column2">
            <form action="" method="post">
                <input type="text" id="customer_id" name="customer_id"><br>
            </form>

            <form action="" method="get">
                <select id="days">
                    <option value="">Number of days</option>
                </select><br>                 
                <input type="text" id="pre_total" name="pre_total" value="Pre total:" readonly>
                <input type="text" id="pre_total_bs" name="pre_total_bs" readonly><br>
                <input type="text" id="discount" name="discount" value="Discount:" readonly>
                <input type="text" id="discount_p" name="discount_p" readonly>
                <input type="text" id="discount_bs" name="discount_bs" readonly><br>
                <input type="text" id="total" name="total" value="Total:" readonly>
                <input type="text" id="total_bs" name="total_bs" readonly>
            </form>
            
            <form action="" method="post">
                <button type="submit">Pay</button>
            </form>
        </article>
    </article>
</body>
</html>
