<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="client.css">
<title>Client</title>
</head>
<body>
    <form id="header">
        <input type="image" formaction="cart_summary.html" src="imagenes/shopping_cart.png" width="30" height="30" />
        <input type="image" formaction="sign_up.html" src="imagenes/exit.png" width="30" height="30" />
    </form>    

    <article id=sideContainer>
        <img src="imagenes/retro_club.jpg" width="250" height="60"><br>
        <input type="text" id="first" readonly><br>
        <input type="text" id="second" readonly><br>            
        <input type="text" id="third" readonly><br>            
    </article> 

    <article id=mainContainer>
        <form>
            <input type="image" formaction="shortcuts.html" src="imagenes/home.png" id="home" width="30" height="30"/><br>

            <center>
                <img src="imagenes/customers.png" width="210" height="105">
            </center>
    
            <article id="container0">
            </article>
        
            <button id="container1">
            </button>
    
            <button id="container2" formaction="add_client.html">
                <h3>Add</h3>
                <img src="imagenes/add_customer.png" width="55" height="50">
            </button>
    
            <br>
        
            <button id="container3" formaction="search_client.html">
                <h3>Search</h3>
                <img src="imagenes/search_icon.png" width="40" height="40">
                <img src="imagenes/eye.png" width="40" height="40">
                <img src="imagenes/pencil.png" width="40" height="40">
                <img src="imagenes/delete.png" width="40" height="40">
            </button>
        
            <button id="container4">
            </button>
        </form>
    </article>
</body>
</html>