<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="client.css">
<title>Client</title>
</head>
<body>

    <article id=sideContainer>
        <img src="imagenes/retro_club.jpg" width="250" height="60">
    </article> 

    <article id=mainContainer>
        <center>
            <img src="imagenes/customers.png" width="210" height="105">
        </center>

        <br>

        <article id="container0">
            <h3></h3>
        </article>
    
        <button id="container1">
            <h3>Add</h3>
        </button>
    
        <br>
    
        <button id="container2">
            <h3>Search</h3>

        </button>
    
        <button id="container3">

        </button>
    
    </article>

</body>
</html>