<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/edit_movie.css" type="text/css">
    <style>
    .alert {
        padding: 20px;
        background-color: #3d9796;
        color: white;
        font-family: BalsamiqSansBold;

    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
    </style>
</head>

<body>
    <% if (locals.message) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <h2><%= message %></h2>
        </div>
    <% } %>

    <center>
        <form id="header1" name="header1" action="/admin/cart" method="get">
            <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
        </form>    

        <form id="header2" name="header2" action="/movies/search" method="get">
            <input type="image" src="/images/icons/movie.png" width="30" height="30" />
        </form>

        <form id="header3" name="header3" action="/logout" method="post">
            <input type="image" src="/images/icons/exit.png" width="30" height="30" />
        </form>    
    </center>

    <div class="contenedor">
        <form action="/admin/movies" method="get">
            <input type="image" src="/images/icons/go_back.png" id="back" width="30" height="30"/>    
        </form>    

        <center>
            <img src="/images/titles/edit_movie.png" id="img" width="329" height="113">        
        </center>     

        <form action="" method="POST">
            <article id=container1>
                <select id="titles" name="titles">
                    <option value="">Titles</option>
                </select><br>
                <input type="text" id="title" name="title"class="field left" placeholder="Title" readonly><br>
                <input type="image" src="/images/icons/mas.png" id="add" width="30" height="30"/>    
                <input type="image" src="/images/icons/menos.png" id="minus" width="30" height="30"/>    
            </article>
    
            <article id=container2>
                <input type="text" id="year" name="year" class="field left" placeholder="Year" readonly><br>
                <input type="text" id="duration" name="duration" class="field left" placeholder="Duration" readonly><br>
                <input type="text" id="unit_price" name="unit_price" class="field left" placeholder="Unit price" readonly><br>
            </article>
    
            <br>

            <article id=container3>
                <select id="oscars" name="oscars">
                    <option value="">Oscars</option>
                </select><br>
                <select id="nomination" name="nomination">
                    <option value="">Nominations</option>
                </select><br>
 
                <input type="checkbox" id="nominated" name="nominated">
                <label for="checkbox"> Nominated</label>

                <input type="checkbox" id="winner" name="winner">
                <label for="checkbox"> Winner</label>
            </article>
    
            <article id=container4>
                <select id="starring" name="starring">
                    <option value="">Starring</option>
                </select>
                <input type="text" id="actor" name="actor" class="field left" placeholder="Actor" readonly><br>
                <input type="image" src="/images/icons/mas.png" id="add" width="30" height="30"/>    
                <input type="image" src="/images/icons/menos.png" id="minus" width="30" height="30"/>    
            </article>

            <button type="submit" id="add_cart" name="add_cart">Add</button>    
            <button type="submit" id="modify" name="modify">Modify</button>    
            <button type="submit" id="delete" name="delete">Delete</button>    

        </form> 
    </div>
</body>
</html>