<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="edit_client.css" type="text/css">
</head>

<body>

    <form id="header">
        <input type="image" formaction="cart_summary.html" src="/images/icons/shopping_cart.png" id="shopping" width="30" height="30" />
        <input type="image" formaction="sign_up.html" src="/images/icons/exit.png" id="exit" width="30" height="30" />
    </form>

    <div class="contenedor">
        <form>
            <input type="image" formaction="client.html" src="/images/icons/go_back.png" id="back" width="30" height="30"/>    
        </form>

        <center>
            <img src="/images/icons/edit_client.png" width="250" height="90">        
        </center>

        <form>
            <input type="text" id="id_card" placeholder="ID Card"><br>
            <input type="text" id="last_name" placeholder="Last name"><br>
            <input type="text" id="first_name" placeholder="First name"><br>
            <input type="text" id="phone" placeholder="Phone"><br>
            <input type="text" id="email" placeholder="Email"><br>
            <input type="text" id="address" placeholder="Address"><br>

            <select id="loans">
                <option value="">Loans</option>
            </select><br> 
  
            <select id="blacklist">
                <option value="">Blacklist</option>
            </select><br> 
  
            <button id="button1">Modify</button> 
            <button id="button2">Delete</button>    
        </form>
    </div>
</body>
</html>

