<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="loan_details.css" type="text/css">
    <style>
    .alert {
        padding: 20px;
        background-color: #3d9796;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
    </style>
</head>

<body>
    <% if (message) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <h2><%= message %></h2>
        </div>
    <% } %>
    <form id="header1" name="header1" action="/admin/cart" method="get">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>    

    <form id="header2" name="header2" action="/logout" method="post">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form>     

    <div class="contenedor">
        <form action="/admin/movies" method="get">
            <input type="image" src="/images/icons/go_back.png" id="back" width="30" height="30"/>    
        </form>    

        <center>
            <img src="/images/icons/loan_details.png" width="280" height="100">        
        </center>

        <form>
            <input type="text" id="loan" name="loan"><br>
            <input type="text" id="status" name="status"><br>
            <input type="text" id="customer_details" name="customer_details"><br>
            <input type="text" id="paid" name="paid"><br>
            <input type="text" id="from" name="from"><br>
            <input type="text" id="to" name="to"><br>
    
            <select id="movie" name="movie">
              <option value="">Movie</option>
            </select><br> 
    
            <select id="status" name="status">
                <option value="">Status</option>
              </select><br> 
    
            <button id="new_status" name="new_status">Set new status</button> 
        </form>
    </div>
</body>
</html>