<!DOCTYPE html>
<html lang="es">
<head>
    <title>Loan Details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="loan_details.css" type="text/css">
</head>

<body>
    <div class="contenedor">
        <img src="imagenes/loan_details.png" width="312" height="116">        
        <form>
            <input type="text" id="loan"><br>
            <input type="text" id="status"><br>
            <input type="text" id="customer_details"><br>
            <input type="text" id="paid"><br>
            <input type="text" id="from"><br>
            <input type="text" id="to"><br>

            <select id="movie">
              <option value="">Movie</option>
            </select><br> 

            <select id="status">
                <option value="">Status</option>
              </select><br> 

            <button id="new_status">Set new status</button> 
        </form> 
    </div>
</body>
</html>