<!DOCTYPE html>
<html lang="es">
<head>
    <title>Loan Details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="loan_details.css" type="text/css">
</head>

<body>
    <form id="header">
        <input type="image" formaction="cart_summary.html" src="images/title/shopping_cart.png" width="30" height="30" />
        <input type="image" formaction="sign_up.html" src="images/title/exit.png" width="30" height="30" />
    </form>    

    <div class="contenedor">
        <form>
            <input type="image" formaction="search_loans.html" id="back" src="images/title/go_back.png" width="24" height="24"> 
        </form>

        <center>
            <img src="images/title/loan_details.png" width="280" height="100">        
        </center>

        <form>
            <input type="text" id="loan"><br>
            <input type="text" id="status"><br>
            <input type="text" id="customer_details"><br>
            <input type="text" id="paid"><br>
            <input type="text" id="from"><br>
            <input type="text" id="to"><br>
    
            <select id="movie">
              <option value="">Movie</option>
            </select><br> 
    
            <select id="status">
                <option value="">Status</option>
              </select><br> 
    
            <button id="new_status">Set new status</button> 
        </form>
    </div>
</body>
</html>