<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="loans.css">
<title>Loan</title>
</head>
<body>

    <article id=sideContainer>
        <img src="imagenes/retro_club.jpg" width="250" height="60">
    </article> 

    <article id=mainContainer>
        <center>
            <img src="imagenes/loans.png" width="300" height="105">
        </center>

        <br>

        <article id="container0">

        </article>
    
        <button id="container1">
            <h3>Consult-Search-View</h3>
        </button>
        
        <br>
    
        <button id="container3">

        </button>
    
        <button id="container4">

        </button>
    
    </article>

</body>
</html>