<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="movies.css">
    <title>Movies</title>
</head>
<body>

    <article id=sideContainer>
        <img src="imagenes/retro_club.jpg" width="250" height="60">
    </article> 

    <article id=mainContainer>
        <center>
            <img src="imagenes/rules.png" width="307" height="99">
        </center>

        <br>

        <article id="container0">
        </article>

        <article id="container1">
        </article>

        <article id="container2">
            <h3>Add</h3>
        </article>

        <br>
   
        <article id="container3">
            <h3>Search</h3>

        </article>
         
        <article id="container4">
        </article>

    </article>

</body>
</html>