<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="rules.css">
    <title>Rules</title>
</head>
<body>

    <article id=sideContainer>
        <img src="imagenes/retro_club.jpg" width="250" height="60">
    </article> 

    <article id=mainContainer>
        <center>
            <img src="imagenes/rules.png" width="307" height="99">
        </center>

        <br>
    
        <article id="container1">
            <h3>Discount policies</h3>
            <select id="discount">
                <option value="">options</option>
                <option value="first_discount">1 to 3</option>
                <option value="second_discount">3 to 5</option>
                <option value="third_discount">5 or more</option>
            </select> <br>

            <input type="text" id="min">
            <input type="text" id="max">
            <input type="text" id="des"><br>

        </article>

        <br>

   
        <article id="container2">
            <h3>First day price</h3>
                <input type="text" id="first_day_price">
        </article>
         
        <article id="container3">
            <h3>After price</h3>
            <input type="text" id="after_price"><br>
        </article>
    
        <article id="container4">
            <h3>Max days</h3>
            <input type="text" id="max_days"><br>
        </article>

        <button>Save Changes</button>

    </article>

</body>
</html>