<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="public/css/rules.css">
    <title>Rules</title>
</head>
<body>

    <form id="header1" name="header1" action="/admin/cart" method="GET">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>    

    <form id="header2" name="header2" action="/sign" method="GET">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form> 

    <article id=sideContainer>
        <img src="/images/title/retro_club.jpg" width="250" height="60"><br>
        <input type="text" id="first" readonly><br>
        <input type="text" id="second" readonly><br>            
        <input type="text" id="third" readonly><br>            
    </article> 

    <article id=mainContainer>
        <form action="/admin/home" method="GET">
            <input type="image" src="/images/title/home.png" id="home" name="home" width="30" height="30"/><br>
        </form>

        <center>
            <img src="/images/title/rules.png" width="307" height="99">
        </center>
        
        <article id="container1">
            <h3>Discount policies</h3>
            <form action="" method="POST">
                <select id="options" name="options">
                    <option value="">options</option>
                    <option value="first_discount">1 to 3</option>
                    <option value="second_discount">3 to 5</option>
                    <option value="third_discount">5 or more</option>
                </select> 
            </form>

            <article id=discount_tag>
                <p>Discount:</p>
            </article>

            <br>

            <form action="" method="POST">
                <input type="text" id="min" name="min">to</input>
                <input type="text" id="max" name="max">videos.</input>                    
                <input type="text" id="des" name="des">%</input>           
            </form>
        
            <br>
        <article>

        <article id="container2">
            <form action="" method="POST">
                <h3>First day price</h3>
                <input type="text" id="first_day_price" name="first_day_price">Bs.</input>
            </form>
        </article>

            <form action="" method="POST">
                <article id="container3">
                    <h3>After price</h3>
                    <input type="text" id="after_price" name="after_price">Bs.</input>
                </article>
            </form>
             
            <form action="" method="POST">
                <article id="container4">
                    <h3>Max days</h3>
                    <input type="text" id="max_days" name="max_days">days</input>
                </article>
            </form>
                
            <form action="" method="POST">
                <button type="submit" name="save">Save Changes</button>
            </form>
    </article>
</body>
</html>