<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/search_client.css" type="text/css">
</head>

<body>
    <form id="header1" name="header1" action="/admin/cart" method="get">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>    

    <form id="header2" name="header2" action="/logout" method="post">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form>    

    <div class="contenedor" action="/admin/loan" method="get">
        <form action="/admin/loan" method="get">
            <input type="image" id="back" src="/images/icons/go_back.png" width="24" height="24"> 
        </form>

        <center>
            <img src="/images/titles/search_loans.png" width="307" height="120">        
        </center>

        <form>
            <input type="text" id="search" placeholder="search loans">
            <select id="by">
                <option value="">By</option>
                <option value="loan_id">Loan id</option>
                <option value="date">Date</option>
                <option value="client_id_card">Client id Card</option>
                <option value="delivered">By</option>
                <option value="expired">Loan id</option>
                <option value="on_time">Date</option>
            </select><br> 
        </form>

        <form>
            <input type="text" id="field_1" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_2" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_3" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_4" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_5" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_6" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_6" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
    
            <input type="text" id="field_8" class="field left" readonly>
            <input type="image" id=view_edit formaction="loan_details.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
        </form>
    </div>
</body>
</html>