<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/search_client.css" type="text/css">
</head>

<body>

    <form name="header" action="/admin/cart" method="get">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>    

    <form name="header" action="/logout" method="post">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form>    

    <div class="contenedor">
        <form action="/admin/customers" method="get">
            <input type="image" id="back" src="/images/icons/go_back.png" width="24" height="24"> 
        </form>

        <center>
            <img src="/images/titles/search_customer.png" width="307" height="120">        
        </center>

        <form>
            <input type="image" src="/images/icons/search_icon.png" width="15" height="15"> 
            <input type="text" id="search" placeholder="search customers">
            <select id="by">
                <option value="">By</option>
                <option value="first_name">First name</option>
                <option value="last_name">Last name</option>
                <option value="email">Email</option>                
                <option value="phone">Phone</option>
            </select><br> 
            <input type="text" id="field_1" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_2" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_3" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_4" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_5" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_6" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_6" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_8" class="field left" readonly>
            <input type="image" id=view_edit formaction="edit_client.html" src="/images/icons/view_edit.png" width="24" height="24"> <br>
        </form>
    </div>
</body>
</html>
