<!DOCTYPE html>
<html lang="es">
<head>
    <title>Search Customer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="search_client.css" type="text/css">
</head>

<body>
    <div class="contenedor">
        <img src="imagenes/search_customer.png" width="307" height="120">        
        <form>
            <input type="text" id="search" placeholder="search customers">
            <select id="by">
                <option value="">By</option>
            </select><br> 

            <input type="text" id="field_1" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_2" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_3" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_4" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_5" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_6" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_6" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
            <input type="text" id="field_8" class="field left" readonly>
            <input type="image" id=view_edit src="imagenes/view_edit.png" width="24" height="24"> <br>
        </form> 
    </div>
</body>
</html>
