<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/shortcuts.css">
</head>
<body>

    <form id="header1" name="header1" action="/admin/cart" method="get">
        <input type="image" src="/images/icons/shopping_cart.png" width="30" height="30" />
    </form>    

    <form id="header2" name="header2" action="/logout" method="post">
        <input type="image" src="/images/icons/exit.png" width="30" height="30" />
    </form>    

    <article id=sideContainer>
        <img src="/images/titles/retro_club.jpg" width="250" height="60"><br>
        <input type="text" id="first" readonly><br>
        <input type="text" id="second" readonly><br>            
        <input type="text" id="third" readonly><br>            
    </article> 

    <article id=mainContainer>
        <form action="/admin/home" method="get">
            <input type="image" src="/images/icons/home.png" id="home" name="home" width="30" height="30"/><br>
        </form>

        <center>
            <img src="/images/titles/shortcuts.png" width="250" height="130">
        </center>

        <article id="container0">
        </article>

        <form action="/admin/customers" method="get">
            <button id="container1" name="container1">
                <h3>Customers</h3>
                <img src="/images/icons/people.png" width="60" height="60">
            </button>
        </form>

        <form action="/admin/loan" method="get">
            <button id="container2" name="container2">
                <h3>Loans</h3>
                <img src="/images/icons/loan.png" width="60" height="60">
            </button>
        </form>

        <br>    

        <form action="/admin/cart" method="get">
            <button id="container3" name="container3">
                <h3>Shopping</h3>
                <img src="/images/icons/shopping_cart.png" width="60" height="60">
            </button>
        </form>

        <form action="/admin/movies" method="get">
            <button id="container4" name="container4">
                <h3>Movies</h3>
                <img src="/images/icons/cinema.png" width="60" height="60">
            </button>    
        </form>

        <form action="/admin/rules" method="get">
            <button id="container5" name="container5">
                <h3>Loan Rules</h3>
                <img src="/images/icons/paper_rules.png" width="60" height="60">
            </button>
        </form>
    </article>
</body>
</html>
