<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="shortcuts.css">
</head>
<body>
    <form id="header">
        <input type="image" formaction="cart_summary.html" src="imagenes/shopping_cart.png" width="30" height="30" />
        <input type="image" formaction="sign_up.html" src="imagenes/exit.png" width="30" height="30" />
    </form>    

    <article id=sideContainer>
        <img src="imagenes/retro_club.jpg" width="250" height="60"><br>
        <input type="text" id="first" readonly><br>
        <input type="text" id="second" readonly><br>            
        <input type="text" id="third" readonly><br>            
    </article> 

    <article id=mainContainer>
        <form>
            <input type="image" formaction="shortcuts.html" src="imagenes/home.png" id="home" width="30" height="30"/><br>

            <center>
                <img src="imagenes/shortcuts.png" width="250" height="130">
            </center>

            <article id="container0">
            </article>

            <button id="container1" formaction="client.html">
                <h3>Customers</h3>
                <img src="imagenes/people.png" width="60" height="60">
            </button>

            <button id="container2" formaction="loans.html">
                <h3>Loans</h3>
                <img src="imagenes/loan.png" width="60" height="60">
            </button>

            <br>    

            <button id="container3" formaction="cart_summary.html">
                <h3>Shopping</h3>
                <img src="imagenes/shopping_cart.png" width="60" height="60">
            </button>

            <button id="container4" formaction="movies.html">
                <h3>Movies</h3>
                <img src="imagenes/cinema.png" width="60" height="60">
            </button>    

            <button id="container5" formaction="rules.html">
                <h3>Loan Rules</h3>
                <img src="imagenes/paper_rules.png" width="60" height="60">
            </button>
        </form>
    </article>
</body>
</html>
