<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/sign_up.css" type="text/css">
    <style>
    .alert {
        padding: 20px;
        background-color: #f2edbe;
        color: black;
    }

    .closebtn {
        margin-left: 15px;
        color: black;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }

    h1{
        text-align: left;
    }
    </style>
</head>

<body>
    <article id="column1">
        <img src="/images/titles/retro_club.jpg" width="330" height="75">
        <h2>
            Blurry streaming?<br>
            no problem<br>
            DVD rules!<br>
        </h2>
    </article> 

    <article id="column2">
        <img src="/images/titles/sign_in.png" id="sign_in" width="270" height="140">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <button type="submit">Sign in</button>
        </form> 
    </article>  

    <%if (locals.error) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <h1><%= error%></h1>
        </div>
    <% } %>
</body>
</html>