<!DOCTYPE html>
<html lang="es">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/sign_in.css">
</head>

<body>
    <article id="column1">
        <img src="/images/titles/retro_club.jpg" width="330" height="75">
        <h2>
            Blurry streaming?<br>
            no problem<br>
            DVD rules!<br>
        </h2>
    </article> 

    <article id="column2">
        <img src="/images/titles/sign_in.png" width="270" height="140">
        <form action="/login" method="get">
            <input type="text" id="username" placeholder="Username"><br>
            <input type="text" id="password" placeholder="Password"><br><br>
            <button>Sign In</button>
        </form> 
    </article>  

</body>
</html>