body{
    background-color: #f2edbe;
}

#sideContainer{
    margin-top: 200px;
    margin-right: 70px;
    float:left; width:40%;
    text-align: right;
}

#mainContainer{
    margin-top: 100px;
    background-color: #30323d;
    border-style: solid;
	float:left; width:40%;
    height: 550px;
}

#container0{
    margin: 10px;
    margin-bottom: 20px;
    float:left; width:30%;
    height: 117px;
	background:#30323d;
    text-align:left;
}

#container1{
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 90px;
    float:left; width:50%;
    height: 117px;
	background:#30323d;
    text-align:left;
    color:white;
}


#container3{
	margin: 10px;
    float:left; width:50%;
    height: 117px;
	background:#3d9796;
    text-align:left;
    color:white;
    margin-left: 90px;
}

#container4{
	margin: 10px;
    float:left; width:30%;
    height: 117px;
	background:#aa4465;
    text-align:left;
    color:white;
}






