@font-face {
    font-family: "BalsamiqSansBold";
    src: url("/fonts/balsamiqsansbold.eot");    
    src: url("/fonts/balsamiqsansbold.woff");
    src: url("/fonts/balsamiqsansbold.woff2");
}

body{
    background-color: #f2edbe;
}

#sideContainer{
    margin-top: 200px;
    margin-right: 70px;
    float:left; width:40%;
    text-align: right;
}

#first{
    width: 206px;
    height: 26px;
    background-color: #3d9796;
    border-style: solid;
    border-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 30px;
    padding-left: 5px;
}

#second{
    width: 136px;
    height: 26px;
    background-color: #3d9796;
    border-style: solid;
    border-color: black;
    color: white;
    margin-bottom: 5px;
    margin-right: 100px;
    padding-left: 5px;
}

#third{
    width: 114px;
    height: 26px;
    background-color: #3d9796;
    border-style: solid;
    border-color: black;
    color: white;
    margin-bottom: 5px;
    margin-right: 123px;
    padding-left: 5px;
}

#mainContainer{
    margin-top: 100px;
    background-color: #30323d;
    border-style: solid;
	float:left; width:40%;
    height: 550px;
    opacity: 85%;
}

#header1{
    margin-left: 1400px;
    margin-right: 10px;
    margin-top: 20px;
}

#header2{
    margin-left: 1410px;
    margin-right: 10px;
    margin-top: 20px;
}

#home{
    margin: 10px;
}

#options{
    float:left; width:50%;
    text-align:left;
}

#discount_tag{
    float:left; width:40%;
    text-align:left;
    margin-left: 15px;
}

#container1{
    margin-left: 40px;
    margin-bottom: 20px;
    float:left; width:80%;
    height: 117px;
    border-style: solid;
    border-color: black;
	background:#30323d;
    text-align:left;
    color:white;
    padding: 10px;
    font-size: 13px;
}

#container2{
	margin-left: 40px;
    float:left; width:20%;
    height: 117px;
    border-style: solid;
    border-color: black;
	background:#3d9796;
    text-align:left;
    color:white;
    padding: 10px;
    font-size: 13px;
}

#container3{
	margin-left: 30px;
    float:left; width:20%;
    height: 117px;
    background:#23395b;
    border-style: solid;
    border-color: black;
    text-align:left;
    color:white;
    padding: 10px;
    font-size: 13px;
}

#container4{
	margin-left: 30px;
    float:left; width:20%;
    height: 117px;
    border-style: solid;
    border-color: black;
	background:#aa4465;
    text-align:left;
    color:white;
    padding: 10px;
    font-size: 13px;
}

select{
    width: 212px;
    height: 17px;
    margin-bottom: 10px;
}

button{
    width: 400px;
    height: 35px;
    background-color: #f2edbe;
    margin-top: 20px;
    margin-left: 40px;
    border-color: black;
    border-style: solid;
}

#min{
    width: 56px;
    height: 27px;
    border-style: solid;
    border-color: black;
    margin-right: 20px;
    margin-bottom: 10px;
}

#max{
    width: 56px;
    height: 27px;
    border-style: solid;
    border-color: black;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#des{
    width: 56px;
    height: 27px;
    border-style: solid;
    border-color: black;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#first_day_price{
    width: 56px;
    height: 27px;
}

#after_price{
    width: 56px;
    height: 27px;
}

#max_days{
    width: 56px;
    height: 27px;
}