@font-face {
    font-family: "BalsamiqSansBold";
    src: url("/fonts/balsamiqsansbold.eot");    
    src: url("/fonts/balsamiqsansbold.woff");
    src: url("/fonts/balsamiqsansbold.woff2");
}

body {
    background-color: #eafdf8;
}

#header1{
    margin-left: 1400px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 25px;
    border-color: #3d9796;
    background-color: #3d9796;
    margin-right: 70px;
}

#header2{
    margin-left: 1400px;
    margin-top: 15px;
    border-style: solid;
    border-radius: 25px;
    border-color: #3d9796;
    background-color: #3d9796;
    margin-right: 70px;
}

#header3{
    margin-left: 1400px;
    margin-top: 15px;
    border-style: solid;
    border-radius: 25px;
    border-color: #3d9796;
    background-color: #3d9796;
    margin-right: 70px;
}

#back{
    margin: 10px;
    float: left;
}

div.contenedor{
    margin-left: 450px;
    border-color: #f2edbe;
    border-style:solid;
    width: 650px;
    height: 600px;
    background-color: #2a628f;
    text-align: center;
    opacity: 80%;
}

#img{
    margin-top: 20px;
    margin-right: 20px;
}

#search{
    width: 278px;
    height: 25px;
    text-align: left;
    padding-left: 10px;
    border-radius: 25px;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

select{
    width: 100px;
    height: 27px;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#container1{
    float: left; width: 30;
    margin-left: 110px;
}

#container2{
    float: left; width: 30;
    margin-left: 10px;
}

#container3{
    float: left; width: 30;
    margin-left: 10px;
}

#field_1{
    background-color: #f2edbe;
    color: black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_2{
    background-color: #f2edbe;
    color: black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_3{
    background-color: #b7cfa9;
    color:black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_4{
    background-color: #b7cfa9;
    color:white;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_5{
    background-color: #83ae99;
    color:black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_6{
    background-color: #5b8c88;
    color:white;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_7{
    background-color: #406a73;
    color: black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_8{
    background-color: #2f4858;
    color: black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
}

#field_9 {
    background-color: #2f4858;
    color: black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
    border-radius: 10px;
}

#field_10 {
    background-color: #2f4858;
    color: black;
    width: 100%;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    font-family: BalsamiqSansBold;
    border-radius: 10px;
}

div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    align-items: center;
    width: 65%;
    height: 50%;
    display: inline-block;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: justify;
}

.clearfix {
    overflow: auto;
}

.cartBtn {
    float: left;
}


