body {
    background-color: #eafdf8;
}

#search{
    width: 278px;
    height: 25px;
    text-align: left;
    padding-left: 10px;
}

select{
    width: 109px;
    height: 27px;
}

#field_1{
    background-color: #f2edbe;
    color: white;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_2{
    background-color: #f2edbe;
    color: black;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_3{
    background-color: #b7cfa9;
    color:black;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_4{
    background-color: #b7cfa9;
    color:white;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_5{
    background-color: #83ae99;
    color:black;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_6{
    background-color: #5b8c88;
    color:white;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_7{
    background-color: #406a73;
    color: black;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

#field_8{
    background-color: #2f4858;
    color: black;
    width: 335px;
    height: 25px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    text-align: left;
}

div.contenedor{
    margin-top: 120px;
    margin-left: 450px;
    border-color: #f2edbe;
    border-style:solid;
    width: 650px;
    height: 550px;
    background-color: #2a628f;
    text-align: center;
}
