@font-face {
    font-family: "BalsamiqSansBold";
    src: url("/fonts/balsamiqsansbold.eot");    
    src: url("/fonts/balsamiqsansbold.woff");
    src: url("/fonts/balsamiqsansbold.woff2");
}

body {
    background-color: #3d9796;
    font-family: BalsamiqSansBold;
}

#column1{
    float:left; width:50%;
    margin-top: 250px;
    text-align:center;  
}

#column2{
    float:left; width:20%;
    margin-top: 150px;
    text-align:center;
    height: 430px;    
    border-color: #f2edbe;
    border-style:solid;
    background-color: #30323d;
}

#sign_in{
    margin-top: 20px;
}

input{
    font-family: BalsamiqSansBold;
    font-size: 15px;
    color:white;
    text-align: center;
    width: 240px;
    height: 27px;
    margin-bottom: 15px;
    background-color: #88958d;
    border-style: solid;
    border-color: black;
}

button{
    font-family: BalsamiqSansBold;
    font-size: 17px;
    width: 240px;
    height: 35px;
    background-color: #f2edbe;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 10px;
}

h2{
    color: #f2edbe;
    text-align: left;
    margin-left: 220px;
    font-size: 30px;
}
